<?php
   include './layout/top.html';
   include './layout/left.html';
   include './layout/main_top.html';
?>
    <!-- 右侧开始 -->
<!--    <div id="right">-->
<!--        <div class="index_right_01">-->
<!--            <span class="icon-font">&#xe065;</span>-->
<!--            <marquee>-->
<!--                改变命运的方法是，从学习中提高自己改变自己。命运就会随之改变！-->
<!--            </marquee>-->
<!--        </div>-->
        
        <div class="index_right_03">
            <h4>修改友情链接</h4>
            <form action="?m=mylink&a=do_edit" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>网站名称</td>
                        <td>
                            <input type="text" name="webname" value="<?=$data['webname']?>">
                        </td>
                    </tr>
                    <tr>
                        <td>网站地址：</td>
                        <td>
                            <input type="text" name="url" value="<?=$data['url']?>">
                            <input type="hidden" name="id" value="<?=$data['id']?>">
                        </td>
                    </tr>
                    <tr>
                        <td>联系人:</td>
                        <td>
                            <input type="text" name="lname" value="<?=$data['lname']?>">
                        </td>
                    </tr>
                    <tr>
                        <td>联系人邮箱:</td>
                        <td>
                            <input type="text" name="lemail" value="<?=$data['lemail']?>">
                        </td>
                    </tr>
                    <tr>
                        <td>排序</td>
                        <td>
                            <input type="text" name="ord" value="<?=$data['ord']?>">
                        </td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td>
                            <select name="status" id="">
                                <option value="xz">--请选择--</option>
                                <option value="0" <?=$sh?> >审核中</option>
                                <option value="1" <?=$tg?> >审核通过</option>
                                <option value="2" <?=$jy?>>禁用</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="添加">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="index_right_04"></div>


    </div>
    <!-- 右侧结束 -->
</body>
</html>
