<?php
   include './layout/top.html';
   include './layout/left.html';
   include './layout/main_top.html';
?>


<!--html<audio id="music" preload="metadata">-->
<!--    <source src="./include/music/whkl.mp3" type="audio/mpeg">-->
<!--</audio>-->
<!--    <div class="circle"><div class="imgs"></div>-->
<!--        <div class="share">-->
<!--            <button id="star" onClick="star()"><i class="icon"><i class="icon icon-del icon-star"></i></i></button>-->
<!--        </div>-->
<!--        <ul>-->
<!--            <li><div id="yl"><span class="ytext">100</span><div id="yi" onClick="cours()"><div id="yn"></div></div><span class="bol"></span></div><button onClick="song()"><i class="icon"><i class="icon icon-del icon-yin"></i></i></button></li>-->
<!--            <li><button><i class="icon"><div id="musicLists"><ul id="ls"></ul></div><i class="icon icon-del icon-lis"></i></i></button></li>-->
<!--            <li><button onClick="upMusic()"><i class="icon"><i class="icon icon-del icon-lef"></i></i></button></li>-->
<!--            <li><button onClick="dowMusic()"><i class="icon"><i class="icon icon-del icon-rig"></i></i></button></li>-->
<!--        </ul>-->
<!--        -->
<!--    </div>-->

<!--    <script src="./include/js/music-min.js" type="text/javascript"></script>-->
<!--    <link rel="stylesheet" href="./include/css/music-min.css">-->

</body>
</html>  