
    <div id="hou_left">
        <h3>菜单</h3>
        <h4>系统配置-首页</h4>
        <ul>
<!--            <li><a href="#"><span class="icon_font">&#xe018;</span> &nbsp; 后台设置</a></li>-->
            <li><a href="./index.php?m=user&a=userList"><span class="icon_font">&#xe014;</span> &nbsp; 用户管理</a></li>
            <li><a href="./index.php?m=user&a=userAdd"><span class="icon_font">&#xe026;</span> &nbsp; 用户添加</a></li>


            <li><a href="?m=category&a=show"><span class="icon_font">&#xe005;</span> &nbsp; 栏目列表</a></li>
            <li><a href="?m=category&a=add"><span class="icon_font">&#xe031;</span> &nbsp; 栏目添加</a></li>
            <li><a href="?m=content&a=show"><span class="icon_font">&#xe006;</span> &nbsp; 内容列表</a></li>
            <li><a href="?m=content&a=add"><span class="icon_font">&#xe006;</span> &nbsp; 内容添加</a></li>
            <li><a href="?m=poster&a=show"><span class="icon_font">&#xe029;</span> &nbsp; 广告管理</a></li>
            <li><a href="?m=poster&a=add"><span class="icon_font">&#xe029;</span> &nbsp; 广告添加</a></li>
            <li><a href="?m=mylink&a=show"><span class="icon_font">&#xe036;</span> &nbsp; 链接列表</a></li>
            <li><a href="?m=mylink&a=add"><span class="icon_font">&#xe036;</span> &nbsp; 友情链接</a></li>
            <li><a href="./index.php?m=sys&a=info"><span class="icon_font">&#xe036;</span> &nbsp; 网站配置</a></li>
            <li><a href="./index.php?m=sys&a=yejiaoya"><span class="icon_font">&#xe036;</span> &nbsp; 页脚配置</a></li>
             <li><a href="./index.php?m=pinlun&a=lists"><span class="icon_font">&#xe036;</span> &nbsp; 评论管理</a></li>
        </ul>
        <div class="clear"></div>
    </div>
